body{
  background-color: white;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  background-image: url(../background.png);
  background-repeat: repeat-y;
  background-size: 100%;
}

header, footer{
  background-color: #e0f2f1;
  padding: 0.2em 0 1em 0;
  text-align: center;
}

.title{
  font-size: 4em;
  text-align: center;
  text-decoration: underline;
}

.container{
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}

.inner{
  margin-left: 1em;
}

blockquote{
  padding: 10px 20px;
  margin: 0 0 0;
  font-size: 17.5px;
  border-left: 6px solid #eee;
}

kbd {
  padding: 2px 4px;
  font-size: 120%;
  color: #fff;
  background-color: #000;
  border-radius: 5px
        }

.signup{
    margin-left: 20%;
    margin-right: 20%;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
  width: 12em;
  height: 27pt;
  font-size: 25pt;
  text-align: center;
}

button[type="submit"]{
  width: 12em;
  height: 20pt;
  font-size: 15pt;
  text-align: center;
}

.banner-head{
  text-align: center;
  font-size: 3em;
}

.banner-foot{
  text-align: center;
}

.sitemap-head ul{
  text-align: center;
  padding: 0;
}

.sitemap-head li{
  display: inline-block;
  list-style: none;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0.5em 0 0.5em;
  font-size: 2em;
  background-color: #ff9800;
  color: #fff;
  text-align: center;
}

.sitemap-head li:hover{
  background-color: #ff5722;
}

.sitemap-foot ul{
  text-align: center;
  padding: 0;
}
.sitemap-foot li{
    display: inline-block;
    list-style: none;
    padding-left: 1.5em;
}
